.side-bar{
    width: 60px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.15);
    position: fixed;
    right: 0;
    top: 0;
}

.side-bar ul{
    list-style: none;
    padding: 0px;
}

.side-bar li{
    padding: 12px 0px;
}

.side-bar a{
    padding: 7px;
}

.link-btn{
    color: #fbfcfd;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 100%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.link-btn:hover {
    color:#6b059f;
    background-color:#dfdfdf;
}

.social-links{
    width: 60px;
    text-align: center;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}

.other-links{
    width: 60px;
    text-align: center;
    position:absolute;
    bottom: 30px;
}


@media screen and (max-width: 620px)
{   
    #index .side-bar{
        position: absolute;
    }

    .side-bar{  
        position: relative;
        width: 100%;
        height: 50px;
        bottom: 0px;
        left: 0px;
        top: auto;
        margin-bottom: 0px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .side-bar li{
        display:inline-block;
        padding: 10px 10px;
    }

    .btn1, .btn2, .btn3{
        padding: 8px 10px;
        border-radius: 20px;
    }

    .social-links{
        width: auto;
        position: unset;
        transform: none;
        margin-left: 10px;
    }
    
    .other-links{
        margin-right: 10px;
        width: auto;
        position: unset;
    }
}
