<!-- CONTENT ENDS HERE -->
    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}
    <div class=side-bar>
        <div class="social-links">
            <ul>
                <li><a href="https://twitter.com/20akshay00" class="link-btn"> <i class="fa fa-twitter" aria-hidden="true"></i>
                </a></li>
                <li><a href="https://www.linkedin.com/in/akshay-shankar-07a060140/" class="link-btn"> <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a></li>
                <li><a href="https://github.com/20akshay00/" class="link-btn"> <i class="fa fa-github" aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>

        <div class="other-links">
            <ul>
                <li><a href="mailto: sakshays.2000@gmail.com" class="link-btn"> <i class="fa fa-envelope" aria-hidden="true"></i>
                </a></li>
                <li><a href="index.html" class="link-btn"> <i class="fa fa-share" aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
    </div>
  </body>
</html>
